@import '@fontsource-variable/plus-jakarta-sans';
@import 'tailwindcss';

@theme {
    --font-jakarta: 'Plus Jakarta Sans Variable', sans-serif;
}

html,
body {
    font-family: var(--font-jakarta);
    margin: 0;
    padding: 0;
}

* {
    font-family: var(--font-jakarta);
}
